# Byte-compiled / optimized / DLL files
__pycache__/
*.py[co]

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothes.is-cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Poetry specific files
poetry.lock
pyproject.toml

# If you're using Git Flow
# .gitflow_export
